@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
    ;
}


/* banner er style suru */

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.banner-container {
    max-width: 1320px;
    border-radius: 30px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url('new-year-offer-resources/images/Banner\ Image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

}

.banner-content p,
h1 {
    color: #fff;

}

.banner-content p {
    font-size: 32px;
    font-weight: 500;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 900;
}

/* 65% section styles here */

.second-section-container {
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 92px;



}

.second-section-content {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-section-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    box-shadow: 2px 2px 2px 2px;
}

.second-section-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
}

.second-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
}

.image-container {
    width: 802.9px;
    height: 500px;
    margin-top: 48px;
}

.image-container img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;


}

/* midnight party section styles here */

.midnight-party-container {

    width: 1320px;
    background-image: url('new-year-offer-resources/images/Vectorrr.png');
    background-repeat: no repeat;
    background-position: center;
    background-size: center;
    height: 600px;

    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    margin-top: 80px;


}

.leftside-content {
    width: 50%;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.leftside-content h2 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}



.leftside-content p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 50px;
}

#midnight-button {
    color: rgb(255, 242, 242);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 400px;
}


.rightside-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rightside-content img {
    width: 349.16px;
    height: 464.65px;
}



/* time-date-place styles */

.time-date-place-container {

    width: 1320px;
    height: 482px;
    margin: 0 auto;
    border-radius: 16px;

    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



}

.solved {
    width: 549px;
    height: 168px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: rgb(89, 85, 80);
    align-items: center;
    box-shadow: 6px 10px 10px 5px;
}

.solved span {
    color: rgb(7, 2, 17);
}

.solved p {
    color: rgb(255, 0, 0);
}

.solved .btn {
    padding: 10px 12px 10px 12px;
    color: #fff;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    margin-top: 15.50px;
}

.btn:hover {
    background-color: #652323;
    transition: all 0.5s ease;
}


/* cooming soon er style start here */

.comming-soon-container {
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    border-radius: 16px;
    /* margin-top: 120px; */
    display: flex;
    justify-content: space-between;

    align-items: center;

}

.first-width {
    width: 33%;
    height: 250px;
    margin-bottom: 120px;
}

.first-width h4 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;

}

.first-width h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 20px;
}

.first-width p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;

}


.second-width {
    width: 33%;
    height: 250px;
    box-sizing: border-box;
    border-radius: 15px solid rgb(255, 0, 0);

}

.third-width {
    width: 33%;
    height: 250px;
}

.third-width h1 {
    color: rgb(255, 0, 0);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 20px;
}

.third-width p {
    color: rgba(7, 2, 17, 0.6);
    margin-top: 16px;
}

.third-width img {

    margin-top: 30px;
}



/* cooming soon er style ends here */


/* what is functional style start here */
.functional-container {
    width: 1320px;
    height: 685px;
    margin-top: 120px;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}

.functional-content {
    width: 1068px;
    height: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.functional-content h4 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
}

.functional-content span {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: rgb(255, 0, 0);
}


.functional-content h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: rgb(7, 2, 17);
    margin-top: 30px;
}

.functional-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    border: 2px solid blue;
}

/* what is functional style end here */




/* solid color styles start here */
.solid-color-container {
    width: 1320px;
    height: 220px;
    color: rgb(205, 182, 182);

    margin: 0 auto;
    position: relative;
    margin-top: 120px;
    margin-bottom: 100px;
}

.solid-color-content {
    position: absolute;
    top: 75%;
}

.giftbox {
    width: 374.82px;
    height: 160.96px;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.giftbox img {
    width: 1 00;
}

.lal-image {
    width: 10px;
    margin-bottom: 50px;
}

/* solid color styles end here */

/* portfolio styles start here */

.portfolio-container {
    width: 1390 px;
    height: 900px;

    margin: 0 auto;
    width: 1320px;
    height: 1163px;



}


.portfolio-text-content {
    margin-top: 50px;
}

.portfolio-text-content h5 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}

.portfolio-text-content h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}


.portfolio-text-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}


.items {
    width: 424px;
    height: 450px;
    margin-top: 30px;
}

.items img {
    width: 100%;
    height: 100%;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* portfolio styles ends here */


/* newsletter style start here */


.newsletter-container {
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    margin-top: 120px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newsletter-content {
    width: 896px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;

    background: rgba(255, 0, 0, 0.05);
}

.newsletter-content h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
    border-radius: 16px;

    background: rgba(255, 0, 0, 0.05);
}

.newsletter-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
}

.btn-2 {
    border-radius: 0px 50px 50px 0px;

    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}


input {
    padding: 10px 20px 10px 20px;
    border-radius: 50px;

    background: rgb(255, 255, 255);
}

/* newsletter style end here */


/* footer er styles start here */


.footer-container {
    width: 1320px;
    height: 500px;
    border: 2px solid red;
    margin: 0 auto;
    background-color: rgb(7, 2, 17);
    color: #fff;
    padding: 100px;
}

.contact{
    display: flex;

}

.footer-first-section{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50px;
     margin-bottom: 50px;
}

.hr{
    width: 90%;
    margin:0 auto ;
    margin-top: 50px;
    margin-bottom: 50px;

}

.icons{
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}
.footer-end-text{
    width: 90%;
    margin:0 auto ;
   height: 30px;
    display: flex;
    justify-content: space-between;   
}
/* footer er styles ends here */